# ==========================================
# CONFIGURAÇÕES DO BANCO DE DADOS (PRISMA)
# ==========================================
# Substitua usuario, senha e nome_do_banco pelas suas credenciais locais
DB_USER=seu user
DB_PASSWORD=sua senha
DB_NAME=seu bd

DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"

# ==========================================
#  SEGURANÇA E AUTENTICAÇÃO
# ==========================================
# Gere uma string aleatória segura para usar como secret no ambiente local
JWT_SECRET="sua_chave_secreta_aqui"

# ==========================================
#CONFIGURAÇÕES DE ENVIO DE E-MAIL (SMTP)
# ==========================================
EMAIL_HOST="smtp.gmail.com"
PORT=587
EMAIL_USER="seu_email_aqui@gmail.com"
EMAIL_PASSWORD="sua_senha_de_aplicativo_aqui"

# ==========================================================
#  CONFIGURAÇÕES Do cloudinary (armazenamento de imagens)
# ==========================================================
CLOUDINARY_CLOUD_NAME="seu_cloud_name_aqui"
CLOUDINARY_API_KEY="sua_api_key_aqui"
CLOUDINARY_API_SECRET="seu_api_secret_aqui"