{
  "openapi": "3.0.0",
  "info": {
    "title": "API Elas Conectadas",
    "description": "Arquitetura Orientada a Contratos (Modular)",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.elasconectadas.com",
      "description": "Servidor de Produção"
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "Servidor de Desenvolvimento Local"
    }
  ],
  "paths": {
    "/upload/imagem": {
      "post": {
        "summary": "Envia uma imagem para armazenamento",
        "operationId": "UploadController_uploadImagem",
        "tags": [
          "Uploads"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo de imagem a ser enviado"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload realizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação (arquivo ausente ou inválido)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPadrao"
                }
              }
            }
          },
          "401": {
            "description": "Token JWT ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPadrao"
                }
              }
            }
          },
          "500": {
            "description": "Falha ao armazenar a imagem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPadrao"
                }
              }
            }
          }
        }
      }
    },
    "/posts/create": {
      "post": {
        "summary": "Cria um novo post",
        "operationId": "PostsController_createPost",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/posts/list": {
      "get": {
        "summary": "Lista todos os posts",
        "operationId": "PostsController_getPosts",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de posts"
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "summary": "Busca um post por ID",
        "operationId": "PostsController_getPostById",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post retornado"
          }
        }
      },
      "patch": {
        "summary": "Atualiza um post existente",
        "operationId": "PostsController_updatePostById",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post atualizado"
          }
        }
      },
      "delete": {
        "summary": "Remove um post",
        "operationId": "PostsController_deletePostById",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post apagado"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Autentica a usuária e retorna o token JWT",
        "operationId": "AuthController_login",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Login efetuado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Credenciais inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPadrao"
                }
              }
            }
          }
        }
      }
    },
    "/auth/send": {
      "post": {
        "summary": "Envia um e-mail transacional",
        "operationId": "AuthController_sendMail",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendEmailDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "E-mail enviado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/request-otp": {
      "post": {
        "summary": "Solicita um código OTP por e-mail",
        "operationId": "AuthController_requestOTP",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestTokenDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OTP solicitado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-otp": {
      "post": {
        "summary": "Verifica o código OTP informado",
        "operationId": "AuthController_verifyOTP",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtpDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OTP verificado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ads/create": {
      "post": {
        "summary": "Cria um novo anúncio",
        "operationId": "AdsController_createAd",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Anúncio criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ads/list": {
      "get": {
        "summary": "Lista todos os anúncios",
        "operationId": "AdsController_getAllAds",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de anúncios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ads/{id}": {
      "get": {
        "summary": "Busca um anúncio por ID",
        "operationId": "AdsController_getAdById",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do anúncio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Atualiza um anúncio existente",
        "operationId": "AdsController_patchAd",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anúncio atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove um anúncio",
        "operationId": "AdsController_deleteAdById",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anúncio removido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/produtos": {
      "get": {
        "summary": "Lista todos os produtos",
        "operationId": "Produtos_findAll",
        "tags": [
          "Produtos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Cria um novo produto",
        "operationId": "Produtos_create",
        "tags": [
          "Produtos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProdutoDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Produto criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/produtos/{id}": {
      "get": {
        "summary": "Busca um produto por ID",
        "operationId": "Produtos_findOne",
        "tags": [
          "Produtos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/users/register": {
      "post": {
        "summary": "Registra uma nova usuária",
        "operationId": "UsersController_createUser",
        "tags": [
          "Users"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Usuária registrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação dos dados enviados"
          }
        }
      }
    },
    "/users/admin": {
      "post": {
        "summary": "Cria uma conta de administradora",
        "operationId": "UsersController_createAdmin",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdminDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Admin registrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Lista todas as usuárias",
        "operationId": "UsersController_getUsers",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de usuárias retornada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResponseDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Busca uma usuária por ID",
        "operationId": "UsersController_getUserById",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados da usuária",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Atualiza os dados da usuária",
        "operationId": "UsersController_updateUserById",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usuária atualizada"
          }
        }
      },
      "delete": {
        "summary": "Remove uma usuária",
        "operationId": "UsersController_deleteUserById",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usuária removida"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token JWT obtido no login. Envie no header Authorization como Bearer <token>."
      }
    },
    "schemas": {
      "ErroPadrao": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 400,
            "description": "Código do status HTTP"
          },
          "message": {
            "description": "Mensagem detalhada sobre o que deu errado",
            "oneOf": [
              {
                "type": "string",
                "example": "Requisição inválida. Verifique os dados enviados."
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "error": {
            "type": "string",
            "example": "Bad Request",
            "description": "Nome oficial do erro HTTP"
          },
          "path": {
            "type": "string",
            "example": "/upload/imagem",
            "description": "Rota em que o erro ocorreu"
          },
          "errors": {
            "type": "array",
            "description": "Detalhes do validador OpenAPI, quando existirem",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ErroNaoEncontrado": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 404
          },
          "message": {
            "type": "string",
            "example": "O recurso solicitado não foi encontrado no sistema."
          },
          "error": {
            "type": "string",
            "example": "Not Found"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "LoginDto": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "empreendedora@teste.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "SenhaSegura123!"
          }
        }
      },
      "LoginResponseDto": {
        "type": "object",
        "required": [
          "access_token",
          "user"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Token JWT para autenticação"
          },
          "user": {
            "$ref": "#/components/schemas/UserResponseDto"
          }
        }
      },
      "sendEmailDto": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "empreendedora@teste.com",
            "description": "E-mail da destinatária"
          }
        }
      },
      "requestTokenDto": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "empreendedora@teste.com"
          }
        }
      },
      "VerifyOtpDto": {
        "type": "object",
        "required": [
          "email",
          "otp"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "otp": {
            "type": "string",
            "example": "123456",
            "description": "Código OTP recebido por e-mail"
          }
        }
      },
      "UserResponseDto": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "role",
          "accountStatus"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "dob": {
            "type": "string",
            "nullable": true,
            "description": "Data de nascimento no formato DD/MM/AAAA"
          },
          "occupation": {
            "type": "string",
            "nullable": true
          },
          "rua": {
            "type": "string",
            "nullable": true
          },
          "numero": {
            "type": "string",
            "nullable": true
          },
          "bairro": {
            "type": "string",
            "nullable": true
          },
          "cidade": {
            "type": "string",
            "nullable": true
          },
          "estado": {
            "type": "string",
            "nullable": true
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "pfp": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "role": {
            "type": "string",
            "enum": [
              "USER",
              "ADMIN"
            ]
          },
          "accountStatus": {
            "type": "string",
            "enum": [
              "VERIFIED",
              "UNVERIFIED"
            ]
          }
        }
      },
      "CreateUserDto": {
        "type": "object",
        "required": [
          "email",
          "password",
          "name",
          "phone",
          "dob"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "empreendedora@teste.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "SenhaSegura123!"
          },
          "name": {
            "type": "string",
            "example": "Maria da Silva"
          },
          "phone": {
            "type": "string",
            "example": "(43) 99999-8888"
          },
          "dob": {
            "type": "string",
            "example": "15/05/1995",
            "description": "Formato DD/MM/AAAA"
          },
          "pfp": {
            "type": "string",
            "format": "uri",
            "description": "URL da foto de perfil"
          }
        }
      },
      "CreateAdminDto": {
        "type": "object",
        "required": [
          "email",
          "password",
          "name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "UpdateUserDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Maria Silva Santos"
          },
          "phone": {
            "type": "string",
            "example": "(43) 99999-0000"
          },
          "occupation": {
            "type": "string",
            "example": "Artesã"
          },
          "bio": {
            "type": "string",
            "example": "Trabalho com bordados personalizados há 10 anos."
          },
          "pfp": {
            "type": "string",
            "format": "uri",
            "description": "URL da foto no Cloudinary"
          },
          "rua": {
            "type": "string",
            "example": "Rua Principal"
          },
          "numero": {
            "type": "string",
            "example": "500"
          },
          "bairro": {
            "type": "string",
            "example": "Centro"
          },
          "cidade": {
            "type": "string",
            "example": "Itambaracá"
          },
          "estado": {
            "type": "string",
            "example": "PR"
          }
        }
      },
      "ProdutoResponseDto": {
        "type": "object",
        "required": [
          "id",
          "nome",
          "descricao",
          "preco",
          "categoria",
          "imagemPrincipal",
          "userId",
          "regiaoAtendimento",
          "criado_em"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "nome": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          },
          "preco": {
            "type": "string",
            "description": "Preço ou faixa de preço, conforme informado pela usuária"
          },
          "categoria": {
            "type": "string"
          },
          "imagemPrincipal": {
            "type": "string",
            "format": "uri"
          },
          "imagensAdicionais": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "regiaoAtendimento": {
            "type": "string"
          },
          "criado_em": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateProdutoDto": {
        "type": "object",
        "required": [
          "nome",
          "descricao",
          "preco",
          "categoria",
          "imagemPrincipal",
          "userId",
          "regiaoAtendimento"
        ],
        "properties": {
          "nome": {
            "type": "string",
            "example": "Consultoria de TI"
          },
          "descricao": {
            "type": "string"
          },
          "preco": {
            "type": "string",
            "example": "R$ 120,00 - R$ 200,00"
          },
          "categoria": {
            "type": "string"
          },
          "imagemPrincipal": {
            "type": "string",
            "format": "uri",
            "description": "URL da imagem de capa do produto",
            "example": "https://minhaimagem.com/principal.jpg"
          },
          "imagensAdicionais": {
            "type": "array",
            "description": "Lista com URLs de fotos extras do produto",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://minhaimagem.com/foto2.jpg",
              "https://minhaimagem.com/foto3.jpg"
            ]
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "regiaoAtendimento": {
            "type": "string",
            "example": "Bandeirantes, Itambaracá ou a domicílio",
            "description": "Cidades atendidas ou tipo de atendimento"
          }
        }
      },
      "UploadResponseDto": {
        "type": "object",
        "required": [
          "imageUrl"
        ],
        "properties": {
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL segura da imagem armazenada no Cloudinary"
          }
        }
      },
      "CreateAdDto": {
        "type": "object",
        "required": [
          "title",
          "content",
          "type"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Desconto de 20% no Dia das Mães"
          },
          "content": {
            "type": "string",
            "example": "Aproveite nossa promoção especial para todos os serviços agendados nesta semana!"
          },
          "type": {
            "type": "string",
            "example": "PRODUCT",
            "description": "Valores aceitos: PRODUCT, SERVICE ou COLLAB"
          },
          "cover": {
            "type": "string",
            "format": "uri",
            "example": "https://res.cloudinary.com/demo/image/upload/v1/ads/capa-promo.jpg",
            "description": "Link da imagem da capa no Cloudinary"
          }
        }
      },
      "UpdateAdDto": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "cover": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CreatePostDto": {
        "type": "object",
        "required": [
          "title",
          "content",
          "type"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Workshop: Finanças para Empreendedoras"
          },
          "content": {
            "type": "string",
            "example": "Aprenda a gerir o fluxo de caixa do seu negócio em 3 passos..."
          },
          "type": {
            "type": "string",
            "example": "COURSE",
            "description": "Valores aceitos: EVENT ou COURSE"
          },
          "cover": {
            "type": "string",
            "format": "uri",
            "example": "https://res.cloudinary.com/demo/image/upload/v1/posts/capa-curso.jpg",
            "description": "Link da imagem da capa no Cloudinary"
          }
        }
      },
      "UpdatePostDto": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "cover": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    }
  }
}
